<html>

<head> 
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <h1>My helpful timestamp site</h1>
  {% block content %}{% endblock %}
  {% block footer %}
  <hr>
  <p>Thanks for visiting my website.</p>
  {% endblock %}
</body>

</html>
