<html>
<head>
	<title>Poll detail</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/poll_list.css" />
</head>	
<body>
<h1>{{ object.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{ object.id }}/vote/" method="post">
{% for choice in object.choice_set.all %}
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	<label for="choice{{ forloop.counter }}">{{ choice.choice }}</input><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
</body>
</html>
