<html>
<html>
<head>
	<title>Polls</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/poll_list.css" />
</head>
<body>

<div id="navigation">
	<h1>Navigation</h1>
	<ul>
		<li><a href="/polls/">All polls</a></li>
		<li><a href="/admin/">Admin</a></li>
	</ul>
</div>

<div id="centerDoc">
	<h1>All polls</h1>
	{% if object_list %}
		<ul>
		{% for poll in object_list %}
			<li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No polls are available</p>
	{% endif %}
</div>

</body>
</html>
