{% extends "bmarks/base.html" %}

{% block title %}Add Bmark{% endblock %}

{% block content %}
	<h3>Add a new Bmark:</h3>

	{% include "bmarks/form_errors.html" %}

	<form name="addbmark" action="/bmarks/add/" method="POST">
		{% include "bmarks/form.html" %}

		<input type="submit" class="greybutton" value="Add" />
	</form>
{% endblock %}
