<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.custom.min.js"></script>
	<script type="text/javascript" src="/site_media/js/bmarks.js"></script>
</head>
<body>
	<div class="navigation">
		<ul>
			<li><a href="/bmarks/">Bookmarks</a></li>
			<li><a href="/bmarks/tools/">Tools</a></li>
			<li><a href="/bmarks/api/">API</a></li>
		</ul>
	</div>
	<div class="not-footer">
		<img id="header-image" src="/site_media/images/header-image.gif" width="100%"></img>
		<a href="/bmarks"><img id="header-font"  src="/site_media/images/header-font.gif"></img></a>
		<img id="header-motto" src="/site_media/images/header-motto.gif"></img>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>

	<div class="footer">
		<hr />
		<p align="center">Powered By: Django Web Framework, jQuery</p>
		<p align="center">Copyright (c) Armin Moradi 2010 All Rights Reserved</p>
	</div>
</body>
</html>
