{% extends "bmarks/base.html" %}

{% block title %}Edit Bmark{% endblock %}

{% block content %}
	<h3>Edit {{ bmark }}:</h3>

	{% include "bmarks/form_errors.html" %}

	<form name="editbmark" action="/bmarks/edit/" method="POST">
		{% include "bmarks/form.html" %}

		<input type="submit" class="greybutton" value="Done" />
		<input name="old_name" type="hidden" value="{{ bmark }}" />
		<input name="next" type="hidden" value="{{ next }}" />
	</form>
{% endblock %}
