<table>
	{% for field in form.visible_fields %}

		{% if forloop.first %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
		{% endif %}

		<tr>
			<td class="form-label">{{ field.label }}:</td>
			<td>{{ field }}</td>
		</tr>
	{% endfor %}
</table>

