<ul>
	{% for field in form.visible_fields %}
		{% for error in field.errors %}
			<li class="form-error">{{ error }}</li>
		{% endfor %}
	{% endfor %}
	{% if custom_errors %}
		{% for error in custom_errors %}
			<li class="form-error">{{ error }}</li>
		{% endfor %}
	{% endif %}
</ul>
