{% extends "bmarks/base.html" %}

{% block title %}BMarks{% endblock %}

{% block content %}
		<div class="tag-filter">
			<div class="tags-header-container">
				<p class="tags-header">Tags (<a class="tags-header-edit" href="javascript:editTags()">edit</a>)</p>
			</div>
			<div class="tags-container">
				<table cellspacing=0>
					<tr>
						<td><img class="tag-image-delete" src="/site_media/images/delete-placeholder.png"></img></td>
						<td><a class="tag" href="/bmarks/tags/all">all</a></td>
					</tr>
					<tr>
						<td><img class="tag-image-delete" src="/site_media/images/delete-placeholder.png"></img></td>
						<td><a class="tag" href="/bmarks/tags/untagged">untagged</a></td>
					</tr>
					{% for tag in tags %}
					<tr id="tag_row_{{ forloop.counter }}">
						<td class="left"><img class="tag-image-delete" src="/site_media/images/delete.png" onclick="removeTag('tag_row_{{ forloop.counter }}', '{{ tag }}');"></img></td>
						<td class="right"><a class="tag" id="tag_{{ forloop.counter }}" href="/bmarks/tags/{{ tag }}">{{ tag }}</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="content">
			<h3>Bookmark List (<a class="bmarks-header-edit" onclick="editBmarks()">edit</a>)</h3>
			{% if object_list %}
				<ul>
					{% for bmark in object_list %}
					<li id="bmark_{{ forloop.counter }}">
					<img class="bmark-edit-image" src="/site_media/images/delete.gif" onclick="removeBmark('bmark_{{ forloop.counter }}','{{ bmark }}')"></img>
					<a href="/bmarks/edit/?name={{ bmark }}&link={{ bmark.link }}"><img class="bmark-edit-image" src="/site_media/images/edit.png"></img></a>
					<a class="bmark" href="{{ bmark.link }}">{{ bmark }}</a>
				</li>
				{% endfor %}
			</ul>
		{% endif %}

		<form method="link" action="/bmarks/addorlogout/">
			<table>
				<tr>
					<td><input name="add" type="submit" class="greybutton" value="Add Bmark" /></td>
					<td><input name="logout" type="submit" class="greybutton" value="Logout" /></td>
				</tr>
			</table>

			<!--<a id="bmarkit-button" title="BMarkIt" href="javascript:(function(){u='http://fengshaun.homelinux.net/site_media/js/bmark_plugin.js';s=document.createElement('script');s.type='text/javascript';s.src=u;document.body.appendChild(s);})();javascript:(function(){setTimeout('bmarkit(\'{{ keycode }}\')',200);}());" alt="BMarkIt"><img src="/site_media/images/bmarkit-button.png" title="BMarkIt" onclick="help();return false;"></img></a>-->
		</form>
	</div>
{% endblock %}

