{% extends "bmarks/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	<h3>Login to Bmarks:</h3>

	{% include "bmarks/form_errors.html" %}

	<form name="loginform" action="/bmarks/login/" method="POST">
		{% include "bmarks/form.html" %}

		<input name="login" type="submit" class="greybutton" value="Login" />
		<input name="register" type="submit" class="greybutton" value="Register" />
		<input name="next" type="hidden" value="{{ next }}" />
	</form>
{% endblock %}
