{% extends "bmarks/base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
	<h3>Logout successful</h3>
	<form method="link" action="/bmarks/">
		<input type="submit" class="greybutton" value="Return" />
	</form>
{% endblock %}
