{% extends "bmarks/base.html" %}

{% block title %}Bmarks registration{% endblock %}

{% block content %}
	<h3>Bmarks registration</h3>
	<p>* required field</p>
	<br />

	{% include "bmarks/form_errors.html" %}

	<form name="registrationForm" action="/bmarks/register/" method="post">
		{% include "bmarks/form.html" %}

		<input type="submit" class="greybutton" value="Register" />
	</form>
{% endblock %}
