{% extends "bmarks/base.html" %}

{% block title %}Bmarks tools{% endblock %}

{% block content %}
<a id="bmarkit-button" title="BMarkIt" href="javascript:(function(){u='http://fengshaun.homelinux.net/site_media/js/bmark_plugin.js';s=document.createElement('script');s.type='text/javascript';s.src=u;document.body.appendChild(s);})();javascript:(function(){setTimeout('bmarkit(\'{{ keycode }}\')',200);}());" alt="BMarkIt"><img src="/site_media/images/bmarkit-button.png" title="BMarkIt" onclick="help();return false;"></img></a>
<br /><br />
<p>To make bookmarking easier, you can drag and drop BMarkIt tool to your bookmarks toolbar.</p>
<p>Now, whenever you come across a page you would like to bookmark, just click on [BMarkIt]<br />
on your bookmarks bar and the page you are viewing will get added to your bookmarks.</p>
<br />
<p>Thank you for using Bmarks.</p>
{% endblock %}
