/*
 * HTML TAGS
 */

body {
	margin: 0;
	height: 100%
}

h1, h3, p, th, li, a { 
	font-family: Verdana, Helvetica, Arial;
	color: #828282;
}

h1 {
	margin: 0;
}

p, li, a {
	margin: auto;
}

h3 {
	margin: 10px, auto, 5px, 5px;
}

p, li {
	font-size: 14px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

hr {
	background-color: #BBBBBB;
	width: 100%;
	border: 0;
	height: 1px;
}

img {
	border: 0;
}

input[type="text"], input[type="password"] {
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDFF;
}

/*
 * CLASSES
 */

input.greybutton {
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	width: 80px;
	height: 20px;
	background-color: #ffffff;
	background-image: url(/site_media/images/button.png);
	border-style: none;
	border-color: #ffffff;
	margin: 15px auto auto auto;
}

a.bmark:hover {
	background-color: #DDDDFF;
}

li.bmark {
	list-style-image: url(/site_media/images/delete.png);
}

.navigation {
	padding: 0px;
	margin: 0px;

	position: absolute;
	top: 104px;
	left: -40px;
}

.navigation li {
	float: left;
}

.navigation li a {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.navigation li a:hover, .navigation li a:active {
	background-color: #4669DD;
}

.bmarks-header-edit {
	font-size: 10px;
	color: #868686;
}

.not-footer {
	min-height: 93%;
	padding: 0 auto -50px auto;
}

.content {
	margin: 10px 10px 10px 10px;
}

.content ul {
	padding-left: 0px;
	margin-left: 0px;
}

.footer {
	height: -50px;
}

.footer p {
	font-size: 11px;
}

.form-label {
	color: #828282;
}

.form-error {
	list-style-type: disc;
	color: red;
	margin: 0px;
}

.tag-filter {
	background-color: #6689FF;
	margin-left: auto;
	margin-right: auto;
	float: right;

	
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.tags-header-container {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4669DF;
	
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}

.tags-header, .tag {
	padding-left: 25px;
	padding-right: 25px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.tag {
	font-size: 12px;
}

.tags-header, .tags-header-edit {
	padding-bottom: 5px;
}

.tags-header {
	font-size: 16px;
}

.tags-header-edit {
	font-weight: normal;
	font-size: 11px;
	color: white;
}

.tags-container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tags-container td.right {
	text-align: left;
}

.tags-container td.right a {
	padding-left: 25px;
}

.tags-container td.left img {
	padding-left: 15px;
}

/*
 * IDs
 */

#header-font {
	position: absolute;
	left: 10px;
	top: 60px;
}

#header-image {
	height: 140px;
}

#header-motto {
	position: absolute;
	left: 270px;
	top: 100px;
}

#bmarkit-button {
	border: 0;
	position: relative;
	top: 6px;
	left: 5px;
}

