p {
	color: red;
	font-family: Helvetica;
}

h1 {
	color: green;
	font-family: Verdana;
}

a {
	color: black;
	font-family: Helvetica;
}

li {
	color: black;
	font-family: Helvetica;
	font-size: 17;
	font-weight: normal;
	list-style-type: circle;
}

/* classes */
#navigation {
	position: absolute;
	width: 210px;
	height: 600px;
	margin: 0;
	margin-top: 0px;
	border-right: 1px solid black;
	font-weight: normal;
}

#centerDoc {
	position: absolute;
	padding: 0 0 20px 0; /* top right bottom left */
	margin-top: 25px;
	margin-left: 225px;
}
